*{
    margin: 0;
    padding: 0;
}

.btnHome{
    padding: 17px 38px;
    border-radius: 3px;
    background: #2e7eed;
    color: #fff;
    outline: none;
    border: none;
}
.HomeBlock {
    margin: 30px 80px !important;
}


@media (max-width: 768px) {
    .HomeBlock {
        margin: 20px 40px !important;
    }

    .text-start {
        text-align: center;
    }

    .text-white {
        font-size: 20px; 
    }

    .btnHome {
        padding: 12px 24px;
        font-size: 14px; 
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .col-md-6 {
        width: 100%;
       
        display: block;
        margin-bottom: 20px;
    }

    .col-md-6 img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .btnHome {
        padding: 10px 20px;
        font-size: 12px;
    }
}
