.footer_main {
    padding: 40px;
    padding-left: 150px !important;
}
.footer_main a{
    text-decoration: none;
}
.footer_div {
    padding: 5px;
    font-size: small;
    margin-left: 160px;
}

.footer_div p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    color: #808080;
    margin-bottom: 0;
    text-align: start;
}

.ListItems ul a {
    color: #808080;
    text-decoration: none;
}

.ListItems li {
    list-style: none;
    margin-bottom: 10px;
    text-align: start;
}
.ListItems li a:hover {
    color: white;
}

.icon {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background-color: #808080;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
}

.Terms {
    width: 100%;
    margin: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    height: 300px; 
    overflow-y: auto; 
}
.Terms h5{
    color: #ffffff;
    text-align: center;
}
.Terms hr{
    border-top: 1px solid #fff;
    width: 30%;
    margin-left: 35%;
}
.Terms p{
    letter-spacing: 0;
    line-height: 25px;
    color: #808080;
    margin-bottom: 0;
    font-size: small;
    text-align: start;
}
.footer_bottom{
    margin-bottom: -20px;
    margin-top: 80px;
}
.footer_bottom a{
    color: #808080;
    text-decoration: none;
}
.footer_bottom a:hover{
    color: rgb(13 110 255);;
}
